@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&family=Roboto:wght@400;700&display=swap');

/* Variables for colors */
:root {
    --bgblue: #d2e6f7;
    --headerblue: #0074D9;
    --fontblack: #111111;
}

body {
    margin: 0;
    background-color: var(--bgblue);
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Header Styling */
header{
    display: flex;
    align-items: center;
    background-color: var(--headerblue);
    border-radius: 0 0 0 5em;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
}

.main-title {
    font-size: 2rem;
    margin: 0.5em;
}

.prize-title {
    font-size: 1rem;
    margin: 1em;
}

.totals {
    font-size: 0.75rem;
}

.helmi-img {
    background-image: url("images/helmi.jpg");
    width: 100px;
    height: 100px;
    margin-left: 1em;
    background-size: cover;
    background-position: center;
    border: 0.2em solid whitesmoke;
    border-radius: 50%;
}

.prize {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

.all-chores {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%

}
.chore {
    width: 85%;
    margin: 0.5em 0;
    background-color: whitesmoke;
    border-radius: 0.25em;
}

.chore-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2em;
    color: var(--fontblack);
    font-family: 'Nunito', sans-serif;
}

.btn {
    width: 45%;
    padding: 0.75em 0;
    background-color: var(--headerblue);
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: whitesmoke;
    border: none;
    border-radius: 1.5em;
}

.btns {
    display: flex;
    justify-content: space-around;
}

.completed-chores {
    text-align: center;
}
.totals {
    text-align: center;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.75rem;
}

.timer-btn {
    margin: 0.5em 0.25em;
    padding: 0.5em 0;
    background-color: whitesmoke;
    color: var(--headerblue);
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 1em;
}

/* Utility class for adding/removing display-none class using JS */
.display-none {
    display: none;
}

@media (min-width:  768px) {
    header {
        justify-content: space-between;
    }

    .headers {
        text-align: center;
    }

    .main-title {
        font-size: 3rem;
    }

    .prize-title {
        font-size: 2rem;
    }

    .prize {
        font-size: 1.5rem;
    }

    .helmi-img {
        width: 300px;
        height: 150px;
        border-radius: 30%;
    }

    .totals {
        font-size: 1rem;
        margin-right: 0.25em;
    }
    
    .timer {
        font-size: 1rem;
    }
    .all-chores {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .chore {
        align-items: center;
        align-content: center;
        width: 30%;
        min-height: 181px;
        margin: 1em;
    }

    .chore-heading {
        text-align: center;
        gap: 2em;
        margin-left: 2em;
        line-height: 1.5;
    }
    .btns {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 90%;
        margin: 0.5em;
    }
}